.list-component {
  margin: 40px auto;
}

.list-component .grid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-gap: 20px;
}

.list-component .loading {
  display: block;
  margin: 0 auto;
}

.list-component h4 {
  text-align: center;
}

.list-component .load-more {
  display: block;
  width: 100%;
}

.playlist {
  position: relative;
  margin-bottom: 20px;
  max-width: 300px;
}
.playlist .thumb {
  display: block;
  max-width: 100%;
}

.playlist .content {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.8);
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 10px;
  box-sizing: border-box;
  opacity: 0;
  transition: opacity 0.35s ease-in-out;
}
.playlist:focus .content,
.playlist:hover .content {
  opacity: 1;
  cursor: pointer;
}

.playlist .content .title {
  margin: 0 0 10px;
  color: var(--main-color);
}

.playlist .content p {
  margin: 0;
}

.playlist:focus,
.playlist:hover {
  outline: 3px solid var(--main-color);
  z-index: 1;
}

@media only screen and (max-width: 960px) {
  .list-component .grid {
    grid-template-columns: 1fr 1fr 1fr;
  }
}

@media only screen and (max-width: 659px) {
  .list-component .grid {
    grid-template-columns: 1fr 1fr;
  }
}
