.filter-container {
  margin: 40px 0;
}
.filter-container .input-search {
  display: block;
  width: 100%;
  border: 0;
  box-sizing: border-box;
}

.filter-container .input-search:focus {
  outline: 2px solid var(--main-color);
}

.filter-container .custom-filters {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 20px 0;
}
